.chat-header {
  background: #2d2840;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  border-bottom: 1px solid #3d3757;
}

.chat-main {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  background: #1e1b29;
}

.messages {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.message {
  max-width: 60%;
  padding: 10px 15px;
  border-radius: 15px;
  word-wrap: break-word;
  margin: 5px 0;
}

.message.self {
  align-self: flex-end;
  background: #3d3757;
  color: #fff;
}

.message.user {
  align-self: flex-start;
  background: #2d2840;
  color: #fff;
}

.message.admin {
  align-self: flex-start;
  background: #8e44ad;
  font-weight: bold;
  color: #fff;
}

.chat-input {
  display: flex;
  padding: 15px;
  background: #2d2840;
  border-top: 1px solid #3d3757;
}

.chat-input input {
  flex: 1;
  border: none;
  padding: 12px;
  border-radius: 10px;
  margin-right: 10px;
  background: #3d3757;
  color: white;
}

.chat-input input::placeholder {
  color: #aaa;
}

.send-btn {
  background: #8e44ad;
  border: none;
  border-radius: 10px;
  padding: 10px 15px;
  cursor: pointer;
  color: #fff;
  font-size: 18px;
}
